<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= result.name%></title>
</head>
<body>
    <a href="/">Back</a>

    <h1><%= result.name %></h1>
    <p><%= result.message %></p>
    <p><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'numeric', day: '2-digit'}).format(new Date(result.updatedAt)) %></p>
    <a href="/edit/feed/<%= result.id %>">Edit Feed</a> 
    <a href="/delete/feed/<%= result.id %>">Delete Feed</a> 

</body>
</html>